{% extends 'base.html' %} {% block content %}
<div class="container-md text-center">
    <div class="mt-5 text-light fs-4 fw-bold">
        Welcome to
    </div>
    
    <div class="text-warning fs-1 fw-semibold mt-2" id="title">
        Random Number Research
    </div>


    <h3></h3>

</div>
<footer class="mt-auto bg-black bg-opacity-50">
    <div class="container my-3 text-light">
        <div class="row row-cols-auto justify-content-center" id="footer">
            <div class="col">
                Copyright © 2023 • <a href="https://scotthenrymoore.com/" target="_blank">Scott Henry Moore</a>
            </div>
            <div class="col">
                Backgound Image • <a href="https://www.freepik.com/author/bedneyimages" target="_blank">bendyimages </a>
            </div>
        </div>
    </div>
</footer>

{% endblock %}